{% extends 'mayorbase.html' %}
{% load static %}
{% block content %}
      <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">name </th>
      <th scope="col">problemtype</th>
      <th scope="col">description</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
 <tbody>

            {% for list in back %}
            <tr>
              <th scope="row">{{ list.id }}</th>
              <td>{{ list.name }}</td>
              <td>{{ list.problemtype }}</td>
              <td>{{ list.description }}</td>
            <td>
                <a  class="btn-danger" href="{% url 'deleteovijok' list.id %}">Delete</a>
            </td>
             </tr>
   {% endfor %}




  </tbody>
</table>
{% endblock %}