{% extends 'mayor/mayorindex.html' %}
{% load static %}
{% block content %}

 <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name </th>
      <th scope="col">FatherName</th>
      <th scope="col">wardno</th>
      <th scope="col">address</th>
      <th scope="col">NIDNumber</th>
      <th scope="col">HondingNo</th>
      <th scope="col">address</th>
      <th scope="col">PreviousTax</th>
      <th scope="col">SelectFloor</th>
      <th scope="col">Applicate_picture</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
 </table>
{% endblock %}
