
 {% load static %}
  <nav class="fixed-top mb-1 navbar navbar-expand-lg navbar-dark default-color">
            <a class="navbar-brand" href="#">CCPAS</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent-333" aria-controls="navbarSupportedContent-333"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">About
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'councilorinfro' %}">CounicilorInformation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Law</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Reported Information</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Budget</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"href="{% url 'login' %}">login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"  href="{% url 'registration' %}">Registration</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto nav-flex-icons">
                    <li class="nav-item">
                        <a class="nav-link waves-effect waves-light">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link waves-effect waves-light">
                            <i class="fab fa-google-plus-g"></i>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-default"
                            aria-labelledby="navbarDropdownMenuLink-333">
                            <a class="dropdown-item" href="#">Login</a>
                            <a class="dropdown-item" href="#">Registration</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>