 <nav class="fixed-top mb-1 navbar navbar-expand-lg navbar-dark default-color">
            <a class="navbar-brand" href="#">CCPAS</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent-333" aria-controls="navbarSupportedContent-333"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
{#                    <li class="nav-item">#}
{#                        <a class="nav-link" href="#">Ward</a>#}
{#                    </li>#}
                    <li class="nav-item">
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'wardno1' %}">1-no-ward-prbolem</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'wardno2' %}">2-no-ward-problem</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'wardno3' %}">3-no-ward-problem</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>