 <nav class="fixed-top mb-1 navbar navbar-expand-lg navbar-dark default-color">
            <a class="navbar-brand" href="#">CCPAS</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent-333" aria-controls="navbarSupportedContent-333"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">About
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Ward</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'viewapplylicence' %}">viewapplylicence</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Reported Information</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Budget</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'deshbord' %}">Deshbord</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>