{% extends 'officernavbar.html' %}

{% load static %}
{% block content %}
 <div class="actions_wrapper">
            <div class="row">
                <div class="col-12">
                    <div class="actions">
                        <div class="row">
                            <div class="col-4 mb-2">
                                <div class="action">
                                    <div class="row">
                                        <div class="col">
                                            <div class="icon">
                                                <i style="color: #4285f4;" class="im im-magnifier"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <br />
                                        <div class="col">
                                           <a  type="button"  class="btn btn-primary" href="{% url 'officerviewapplylicenece' %}">ViewApplyLicence
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-4 mb-2">
                                <div class="action">
                                    <div class="row">
                                        <div class="col">
                                            <div class="icon">
                                                <i style="color: #a6c;" class="im im-newspaper-o"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <br />
                                        <div class="col">
                                            <a  type="button"  class="btn btn-primary" href="{% url 'workshop' %}">WorkShop
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-4 mb-2">
                                <div class="action">
                                    <div class="row">
                                        <div class="col">
                                            <div class="icon">
                                                <i style="color: #fb3 ;" class="im im-note-o"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <br />
                                        <div class="col">
                                            <a  type="button"  class="btn btn-primary" href="{% url 'viewcertificate' %}">BIrthCertificateView
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-4 mb-2">
                                <div class="action">
                                    <div class="row">
                                        <div class="col">
                                            <div class="icon">
                                                <i style="color:#ff83d0;" class="im im-apartment"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <br />
                                        <div class="col">
                                            <a  type="button"  class="btn btn-primary" href="{% url 'taxview' %}">ViewHomeTax
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-4 mb-2">
                                <div class="action">
                                    <div class="row">
                                        <div class="col">
                                            <div class="icon">
                                                <i class="im im-task-o"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <br />
                                        <div class="col">
                                            <a  type="button"  class="btn btn-primary" href="{% url 'Feedback' %}">Feedback
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-4 mb-2">
                                <div class="action">
                                    <div class="row">
                                        <div class="col">
                                            <div class="icon">
                                                <i style="color: #4285f4;" class="im im-note-o"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <br />
                                        <div class="col">
                                             <a  type="button"  class="btn btn-primary" href="{% url 'Smsmayor' %}">Smsmayor
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}