{% extends 'publicbase.html' %}
{% load static %}
{% block content %}
 <div class="actions_wrapper">
            <div class="row">
                <div class="col-12">
                    <div class="actions">
                        <div class="row">
                            <div class="col-4 mb-2">
                                <div class="action">
                                    <div class="row">
                                        <div class="col">
                                            <div class="icon">
                                                <i style="color: #4285f4;" class="im im-question"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <br />
                                        <div class="col">
                                           <a  type="button"  class="btn btn-primary" href="{% url 'taxview' %}">Apply FeedBack
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-4 mb-2">
                                <div class="action">
                                    <div class="row">
                                        <div class="col">
                                            <div class="icon">
                                                <i style="color: #a6c;" class="im im-note-o"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <br />
                                        <div class="col">
                                            <button type="button" class="btn btn-secondary">Application Apply</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-4 mb-2">
                                <div class="action">
                                    <div class="row">
                                        <div class="col">
                                            <div class="icon">
                                                <i style="color: #fb3 ;" class="im im-info"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <br />
                                        <div class="col">
                                            <button type="button" class="btn btn-warning">Recruitement Notice</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-4 mb-2">
                                <div class="action">
                                    <div class="row">
                                        <div class="col">
                                            <div class="icon">
                                                <i style="color:#ff83d0;" class="im im-graduation-hat"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <br />
                                        <div class="col">
                                            <button style="background-color: #ff83d0 !important; color: white"
                                                type="button" class="btn btn-light">School College</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-4 mb-2">
                                <div class="action">
                                    <div class="row">
                                        <div class="col">
                                            <div class="icon">
                                                <i class="im im-phone"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <br />
                                        <div class="col">
                                            <button type="button" class="btn btn-dark">Hotline</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-4 mb-2">
                                <div class="action">
                                    <div class="row">
                                        <div class="col">
                                            <div class="icon">
                                                <i style="color: #4285f4;" class="im im-location"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <br />
                                        <div class="col">
                                            <button type="button" class="btn btn-primary">officer</button>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}