{% extends 'officernavbar.html' %}
{% load static %}
{% block content %}
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name </th>
      <th scope="col">PersonalNumber</th>
      <th scope="col">FatherName</th>
      <th scope="col">MotherName</th>
      <th scope="col">BithofDate</th>
      <th scope="col">PresentAddress</th>
      <th scope="col">Gender</th>
      <th scope="col">subdistict</th>
      <th scope="col">oldpic</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>

        {% for certificate in certificate %}
            <tr>
              <th scope="row">{{ certificate.id }}</th>
              <td>{{ certificate.name }}</td>
              <td>{{ certificate.PersonalNumber }}</td>
              <td>{{ certificate.FatherName }}</td>
              <td>{{ certificate.MotherName }}</td>
              <td>{{ certificate.BithofDate }}</td>
              <td>{{ certificate.PresentAddress }}</td>
              <td>{{ certificate.Gender }}</td>
              <td>{{ certificate.subdistict }}</td>
              <td>{{ certificate.oldpic }}</td>

              <td>
                     <a class="btn btn-danger" href="../delete1/{{certificate.id }}" >Delete</a>
                    </a>
              </td>
             </tr>
        {% endfor %}



  </tbody>
</table>


     <div class="row">
        <div class="col-md-12">
            {% if certificate.has_other_pages %}
              <ul class="pagination">
                {% if certificate.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ certificate.previous_page_number }}">&laquo;</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link">&laquo;</a>
                    </li>
                {% endif %}
                {% for i in certificate.paginator.page_range %}
                    {% if certificate.number == i %}
                        <li class="page-item active">
                          <a class="page-link">{{ i }}</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                          <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                {% if certificate.has_next %}
                    <li class="page-item">
                      <a class="page-link" href="?page={{ certificate.next_page_number }}">&raquo;</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                      <a class="page-link">&raquo;</a>
                    </li>
                {% endif %}
              </ul>
            {% endif %}
        </div>
      </div>
    </div>
{% endblock %}