{% extends 'base.html' %}
{% load static %}
{% block content %}

<table class="table table-striped">
  <thead>
     <tr>

{#        <th>#</th>#}
        <th>THana</th>
        <th>GovtHOspital</th>
        <th>Firerservice</th>
        <th>Bus-counter</th>
        <th>Train-counter</th>
     </tr>
  </thead>
    <tbody>

      <tr>
        {% for list in list %}
       <td>{{list.THana}}</td>
       <td>{{list.GovtHOspital}}</td>
       <td>{{list.Firerservice}}</td>
       <td>{{list.Bus_counter}}</td>
       <td>{{list.Train_counter}}</td>
            </tr>
    {% endfor %}
 </tbody>

    </tabel>

{% endblock %}