{% extends 'base.html' %}
{% load static %}
{% block content %}
     <form action="{% url 'index' %}" method="post">
     {% csrf_token %}
 <div class="actions_wrapper">
            <div class="row">
                <div class="col-9">
                    <div class="actions">
                        <div class="row">
                            <div class="col-4 mb-2">
                                <div class="action">
                                    <div class="row">
                                        <div class="col">
                                            <div class="icon">
                                                <i style="color: #4285f4;" class="im im-store"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <br />
                                        <div class="col">
                                        <a  type="button"  class="btn btn-primary" href="{% url 'solveproblem' %}">solveproblem
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-4 mb-2">
                                <div class="action">
                                    <div class="row">
                                        <div class="col">
                                            <div class="icon">
                                                <i style="color: #a6c;" class="im im-note-o"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <br />
                                        <div class="col">
                                          <a  type="button"  class="btn btn-primary" href="{% url 'permissionletter' %}"> home-permission-letter
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-4 mb-2">
                                <div class="action">
                                    <div class="row">
                                        <div class="col">
                                            <div class="icon">
                                                <i style="color: #fb3 ;" class="im im-info"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <br />
                                        <div class="col">
                                           <a  type="button"  class="btn btn-primary" href="{% url 'schoolcollege' %}">schoolcollege
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-4 mb-2">
                                <div class="action">
                                    <div class="row">
                                        <div class="col">
                                            <div class="icon">
                                                <i style="color:#ff83d0;" class="im im-graduation-hat"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <br />
                                        <div class="col">
                                            <a  type="button"  class="btn btn-primary" href="{% url 'officernotice' %}">notice
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-4 mb-2">
                                <div class="action">
                                    <div class="row">
                                        <div class="col">
                                            <div class="icon">
                                                <i class="im im-phone"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <br />
                                        <div class="col">
                                             <a  type="button"  class="btn btn-primary" href="{% url 'number' %}">hotline
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-4 mb-2">
                                <div class="action">
                                    <div class="row">
                                        <div class="col">
                                            <div class="icon">
                                                <i style="color: #4285f4;" class="im im-location"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <br />
                                        <div class="col">
                                            <a href="{% url 'place' %}"><button type="button" class="btn btn-primary">FamousPlace</button></a>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="mayor_photo">
                        <div class="_photo">
                            {% for others in other %}
                            <img src="{{ others.photo_ceo.url }}" alt="Sonagazi Mator">
                        </div>
                        <div class="desc">
                            <h2>Nazmul Haque Ovy</h2>
                            <p style="font-weight: bold;font-size: 1.5rem">CEO</p>
                            <p>Sonagazi</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer diam turpis,
                                sollicitudin ac convallis eu, rhoncus non lacus. In eget diam magna.</p>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="sample_video">
                        <video width="100%" height="240" controls>
                            <source src=" static/videoplayback.mp4" type="video/mp4">

                        </video>
                    </div>
                </div>
            </div>
        </div>
     </form>
{% endblock %}