{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
 <table class="table mb-0">
     <form action="{% url 'search1' %}" method="post">
         {% csrf_token %}
         <tr><input name="PersonalNumber" placeholder="personalNumber"></tr>
        <tr><button type="submit">Search</button></tr>
      </td>
     </form>
<thead>
      <tr>


        <th>#</th>
        <th>PersonalNumber</th>
        <th>BithofDate</th>
        <th>Download</th>

      </tr>
    </thead>
<body>
    <h2 class="center"> permission form</h2>
	{% for post in list %}
  <tr>
        <td>{{post.title}}</td>
        <td>{{post.PersonalNumber}}</td>
        <td>{{post.BithofDate}}</td>
        <td><a href="{{post.document.url}}" download="{{post.document.url}}">Download</a></td>
  </tr>

{% endfor %}
        </body>
        </table>

</html>



{% endblock %}


