{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	<title> permission form all</title>
</head>
 <table class="table mb-0">
     <form action="{% url 'search' %}" method="post">
         {% csrf_token %}
         <tr><input name="NIDNumber"></tr>
        <tr><button type="submit">Search</button></tr>
      </td>
     </form>
<thead>
      <tr>

        <th>Title</th>
        <th>NIDNumber</th>
        <th>HondingNo</th>
        <th>wardno</th>
        <th>Download</th>

      </tr>
    </thead>
<body>
 <td>

<h2 class="center"> permission form</h2>
	{% for post in file %}
  <tr>
        <td>{{post.title}}</td>
        <td>{{post.NIDNumber}}</td>
        <td>{{post.HondingNo}}</td>
        <td>{{post.wardno}}</td>
        <td><a href="{{post.adminupload.url}}" download="{{post.adminupload.url}}">Download</a></td>
  </tr>
        </body>
        </table>
</html>

	{% endfor %}




      </tr>
    </thead>
{% endblock %}

