{% extends 'publicnav1.html' %}


{% block title %}Register | {{ block.super }}{% endblock %}

{% block content %}


    <section id="register" class="bg-light py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card">
                        <div class="card-header bg-primary text-white">
                            <h4>
                                <i class="fas fa-user-plus"></i> FeedBack </h4>
                        </div>
                        <div class="card-body">
                            <form action="" method="POST">
                                {% csrf_token %}

                                <div class="form-group">
                                    <label for="name"> Name</label>
                                    <input type="text" name="name" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" name="email" class="form-control" required>
                                </div>
                               <div class="form-group">
                                    <label for="ward">WardNo</label>
                                    <select name="wardno" id="vehicle"   required class="form-control">
                                        <option value=""  >wardno</option>
                                        <option value="1" > 1</option>
                                        <option value="2" >2</option>
                                        <option value="3" >3</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                      <label for="inputPassword3" class="col-sm-2 col-form-label">Breif :</label>
                                      <textarea rows="4" cols="50" name="" >
                                      </textarea>

                                  </div>
                                <input type="submit" value="Submit" class="btn btn-danger btn-block">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}