{% extends 'publicnav1.html' %}


{% block title %}Register | {{ block.super }}{% endblock %}

{% block content %}
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <section id="register" class="bg-light py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card">
                        <div class="card-header bg-primary text-white">
                            <h4>
                                <i class="fas fa-user-plus"></i>GivenHOmeTax</h4>
                        </div>
                        <div class="card-body">
                            <form action="{% url 'GivenHomeTax' %}" method="POST">
                                {% csrf_token %}
{#                                <div class="form-group">#}
{#                                    <label for="name"> Name</label>#}
{#                                    <input type="text" name="name" class="form-control" required>#}
{#                                </div>#}
{#                                <div class="form-group">#}
{#                                    <label for="email">Email</label>#}
{#                                    <input type="email" name="email" class="form-control" required>#}
{#                                </div>#}
                               <div class="form-group">
                                    <label for="ward_no">WardNo</label>
                                    <select name='ward_no' id="ward_no"   required class="form-control">
                                        <option value=""  >ward_no</option>
                                        <option value="1" > 1</option>
                                        <option value="2" >2</option>
                                        <option value="3" >3</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="HoldingNo">HoldingNo:</label>
                                    <input type="text" name="HoldingNo" class="form-control"  placeholder="159/A" required>
                                </div>
                                   <div class="form-group">
                                    <label for="tax">sleect-year:</label>
                                    <select name="taxyear" id="tax"   required class="form-control">
                                        <option value=""  >select</option>
                                        <option value="2020-2021" >2020-2021</option>
                                        <option value="2021-2022" >2021-2022</option>
                                        <option value="2021-2022" >2021-2022</option>
                                        <option value="2021-2022" >2021-2022</option>
                                    </select>

                                        <div class="form-group">
                                             <label for="tax">TaxType:</label>
                                            <select name="TaxType" id="TaxType" class="form-control">
                                                <option value="" data-price=""> Select</option>
                                                <option value="1" data-price="500">Home</option>
                                                <option value="2" data-price="600">Market</option>

                                             </select>
                                                            <!-- for in key -->
                                                            <!-- <option value="{{obj.id}}" data-price="{{ obj.price }}"> {{ obj.vehicle_name }}</option> -->
                                                            <!-- endfor -->

                                         </div>
                                        <div class="form-group">
                                            <label for="price"> price</label>
                                            <input type="text" name="price" id="price" class="form-control" placeholder="price">
                                        </div>

                                <div class="form-group">
                                    <label for="password">apply owner pic</label>
                                   <input type="file" id="" name="pictureowner">
                                </div>
                                 <div class="form-group">
                                    <label for="tax">pyment Type:</label>
                                    <select name="payment" id="payment"   required class="form-control">
                                        <option value=""  >select</option>
                                        <option value="Bkhas" >Bkhas</option>
                                        <option value="DDB" >DDB</option>
                                    </select>
                                   </div>

                                <input type="submit" value="Submit" class="btn btn-danger btn-block">
                                       <script type="text/javascript">
                                        $(document).ready(function () {
                                            $('#TaxType').on('change', function () {
                                                var price = $(this).find(':selected').data('price');
                                                $("#price").val(price);
                                            })
                                        });
                                    </script>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}