{% extends 'publicnav1.html' %}


{% block title %}Register | {{ block.super }}{% endblock %}

{% block content %}


    <section id="register" class="bg-light py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card">
                        <div class="card-header bg-primary text-white">
                            <h4>
                                <i class="fas fa-user-plus"></i>Apply Online BithCertificate</h4>
                        </div>
                        <div class="card-body">
                            <form action="" method="POST">
                                {% csrf_token %}
{#                                <div class="form-group">#}
{#                                    <label for="email">Email</label>#}
{#                                    <input type="email" name="email" class="form-control" required>#}
{#                                </div>#}
                                <div class="form-group">
                                    <label for="email">PersonalNumber</label>
                                    <input type="text" name="PersonalNumber" class="form-control" placeholder="17digitoldnumber" required>
                                </div>
                                 <div class="form-group">
                                    <label for="email">FatherName</label>
                                    <input type="text" name="FatherName" class="form-control" placeholder="FatherName" required>
                                </div>
                                 <div class="form-group">
                                    <label for="email">MotherName</label>
                                    <input type="text" name="MotherName" class="form-control" placeholder="MotherName" required>
                                </div>

{#                               <div class="form-group">#}
{#                                    <label for="ward">WardNo</label>#}
{#                                    <select name="wardno" id="vehicle"   required class="form-control">#}
{#                                        <option value=""  >wardno</option>#}
{#                                        <option value="1" > 1</option>#}
{#                                        <option value="2" >2</option>#}
{#                                        <option value="3" >3</option>#}
{#                                    </select>#}
{#                                </div>#}
                                  <div class="form-group">
                                    <label for="name">BithofDate</label>
                                    <input type="date" name="BithofDate" class="form-control" required>
                                </div>

                                <div class="form-group">
                                    <label for="address"> PresentAddress</label>
                                    <input type="text" name="PresentAddress" class="form-control" required>
                                </div>
                                 <div class="form-group">
                                     <label for="address"> Gender</label></br>
                                    <input type="checkbox" id="Gender1" name="Gender" value="male">
                                        <label for="vehicle1">Male</label><br>
                                        <input type="checkbox" id="Gender2" name="Gender" value="Female">
                                        <label for="vehicle2">Female</label><br>
                                      <input type="checkbox" id="Gender3" name="Gender" value="Others">
                                        <label for="vehicle2">Others</label><br>
                                </div>


                                 <div class="form-group">
                                    <label for="subdistict">subdistict</label>
                                    <input type="text" name="subdistict" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label for="password">Old-Bd-picture</label>
                                   <input type="file" id="" name="oldpic">
                                </div>
                                <input type="submit" value="Submit" class="btn btn-danger btn-block">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}