{% extends 'publicbase.html' %}
{% load static %}
{% block content %}
     <div class="actions_wrapper">
            <div class="row">
                <div class="col-12">
                    <div class="actions">
                        <div class="row">
                            <div class="col-4 mb-2">
                                <div class="action">
                                    <div class="row">
                                        <div class="col">
                                            <div class="icon">
                                                <i style="color: #4285f4;" class="im im-question"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <br />
                                        <div class="col">
                                            <a  type="button"  class="btn btn-primary" href="{% url 'addproblem' %}">Apply Problem
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-4 mb-2">
                                <div class="action">
                                    <div class="row">
                                        <div class="col">
                                            <div class="icon">
                                                <i style="color: #a6c;" class="im im-note-o"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <br />
                                        <div class="col">
                                           <a  type="button"  class="btn btn-primary" href="{% url 'applyapplication' %}">Apply Application
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-4 mb-2">
                                <div class="action">
                                    <div class="row">
                                        <div class="col">
                                            <div class="icon">
                                                <i style="color: #fb3 ;" class=" im im-note-o"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <br />
                                        <div class="col">
                                          <a  type="button"  class="btn btn-primary" href="{% url 'applylicence' %}">Apply applylicence
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-4 mb-2">
                                <div class="action">
                                    <div class="row">
                                        <div class="col">
                                            <div class="icon">
                                                <i style="color:#ff83d0;" class="im im-apartment"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <br />
                                        <div class="col">
                                            <a  type="button"  class="btn btn-primary" href="{% url 'onlinebirthcertificate' %}">Apply onlinebirthcertificate
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-4 mb-2">
                                <div class="action">
                                    <div class="row">
                                        <div class="col">
                                            <div class="icon">
                                                <i class="im im-task-o"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <br />
                                        <div class="col">
                                            <a  type="button"  class="btn btn-primary" href="{% url 'GivenHomeTax' %}">Apply GivenHomeTax
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-4 mb-2">
                                <div class="action">
                                    <div class="row">
                                        <div class="col">
                                            <div class="icon">
                                                <i style="color: #4285f4;" class="im im-newsletter"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <br />
                                        <div class="col">
                                            <a  type="button"  class="btn btn-primary" href="{% url 'FeedBack' %}">Apply FeedBack
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}